{% extends 'home.html'%}
{% load static %}
<style>
	.app-card-body {
		display: flex;
		justify-content: center;
	  }
</style>
	<body class="app">
		
		{% block content %}
		<div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <h1 class="app-page-title text-success"><span class="nav-icon"><i class="fa fa-home"></i></span> Dashboard</h1>
                <div class="row g-4 mb-4">
				    <div class="col-6 col-lg-4">
					    <div class="app-card app-card-stat shadow-sm h-100"><br>
							<span class="nav-icon"><i class="fa fa-users fa-5x text-success"></i></span>
						<div class="app-card-body p-3 p-lg-4">
							<canvas id="myChart1" width="300" height="200"></canvas>
						    <script type="text/javascript">
							    var course_list = [{% for course in course_list %}'{{ course }}',{% endfor %}];
							    var number_list = [{% for number in number_list %}'{{ number }}',{% endfor %}];
								var backgroundColor = [
									'rgba(255,99,132,1)',
									'rgba(54,162,135,1)',
									'rgba(255,206,86,1)',
									'rgba(75,192,192,1)',
									'rgba(151,102,132,1)',
									'rgba(255,159,64,1)',
									'rgba(255,99,132,1)',
									'rgba(54,162,135,1)',
									'rgba(25,206,86,1)',
									'rgba(211,192,192,1)',
									'rgba(234,102,132,1)',
									'rgba(153,99,132,1)',
									'rgba(255,159,64,1)',
									'green',
									'yellow',
								];
								var borderColor = [
									'rgba(54,162,135,1)',
									'rgba(25,206,86,1)',
									'rgba(211,192,192,1)',
									'rgba(234,102,132,1)',
									'rgba(153,99,132,1)',
									'rgba(255,159,64,1)',
								];
								var ctx = document.getElementById('myChart1').getContext('2d');
								var myChart1= new Chart(ctx, {
									type: 'bar',
									data: {
										labels: course_list,
										datasets: [{
											label: 'Student',
											data: number_list,
											backgroundColor: backgroundColor,
											borderColor: borderColor,
											borderWidth: 1
										}]
									},
									options:{
										scales:{
											yAxes:[{
												ticks:{
													beginAtZero: true
												}
											}]
										}
									}
								})
							</script>
						    </div><!--//app-card-body-->
						
					    </div><!--//app-card-->
				    </div><!--//col-->
				
				    <div class="col-6 col-lg-4">
					    <div class="app-card app-card-stat shadow-sm h-100"><br>
							<span class="nav-icon"><i class="fa fa-user fa-5x text-info"></i></span>
						    <div class="app-card-body p-3 p-lg-4">
							    <h4 class="stats-type mb-1">Faculty</h4>
							    <div class="stats-figure">10</div>
						    </div><!--//app-card-body-->
					    </div><!--//app-card-->
				    </div><!--//col-->
				    <div class="col-6 col-lg-4">
					    <div class="app-card app-card-stat shadow-sm h-100"><br>
							<span class="nav-icon"><i class="fa fa-book fa-5x text-warning"></i></span>
						    <div class="app-card-body p-3 p-lg-4">
							    <h4 class="stats-type mb-1">Questionnaire</h4>
							    <div class="stats-figure">10</div>
						    </div><!--//app-card-body-->
					    </div><!--//app-card-->
				    </div><!--//col-->
			    </div><!--//row-->
		    </div><!--//container-fluid-->
	    </div><!--//app-content-->
	    
    </div><!--//app-wrapper-->
	
  {% endblock %}
    

</body>
</html>

